#dashboard {
  width: 95%;
  margin: auto;
}

.pie {
  margin: 20px;
}

.pie text {
  font-family: "Verdana";
  fill: #888;
}

.pie .name-text {
  font-size: 1.3em;
}


.depto-borde {
  fill: none;
  stroke: gray;
  stroke-linejoin: round;
  stroke-width: 1;}
